.env
information.txt
node_modules/
backend/node_modules/
ATS_Scoring_Approach.md
notes.txt
Backend\latex-compilation-errors.log
instructions.txt
Frontend/CareerMitra Frontend/src/images/
Planning docs/
keep_screen_on.py
CareerMitra.pem